* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header-Nav components */
nav {
  background: #54eabd;
  height: 80px;
  width: 100%;
}

label.logo {
  line-height: 80px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #25d39f;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #25d39f;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.index-section {
  background: url(img/photos/09-day.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.about-section {
  background: url(img/photos/07-day.avif);
  background-repeat: repeat-y;
  background-size: cover;
}

.booking-section {
  background: url(img/photos/06-day.avif);
  background-repeat: repeat-y;
  background-size: cover;
}

/* Index components */
.front-container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas:
    "blanktop blanktop blanktop"
    "blankleft title blankright"
    "blankbottom blankbottom blankbottom";
}

.front-title {
  grid-area: title;
  font-size: 80px;
  color: #36836c;
  padding: 20px;
  background: #c1f8ff;
  border-radius: 15px;
}

.front-bottom {
  grid-area: blankbottom;
  font-size: 20px;
}

@media (max-width: 858px) {
  .front-title {
    font-size: 50px;
  }
}

/* Facilities */
.about-section__title-container {
  text-align: center;
}

.about-section__title {
  font-size: 20px;
  color: #36836c;
  background-color: #c1f8ff;
  border: none;
  border-radius: 15px;
  padding: 15px 32px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

.about-section__facility-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 90px;
  gap: 30px;
}

.about-section__facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
}

.about-section__facility-details {
  padding: 2px 16px;
}

.about-section__facility-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.about-section__read-more {
  background-color: #25d39f;
  border: none;
  color: white;
  padding: 15px 25px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.read-more a {
  text-decoration: none;
  color: white;
}

/* Booking components */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 10px;
}

.booking-container {
  background: white;
  width: 800px;
  max-width: 800px;
  padding: 25px 40px 10px 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.booking-container .booking-text {
  font-size: 35px;
  color: #36836c;
  font-weight: 650;
  text-align: center;
}

.booking-container form {
  padding: 30px 0 0 0 0;
}

.booking-container form .form-row {
  display: flex;
  margin: 32px 0;
}

#results {
  display: none;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .submitbutton {
  height: 70px;
}

.input-data input {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data label {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data input:focus ~ label {
  transform: translateY(-20px);
  color: #36836c;
  font-size: 14px;
}

.search-btn {
  background-color: #25d39f;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

@media (max-width: 858px) {
  .booking-container .booking-text {
    font-size: 30px;
  }

  .booking-container form {
    padding-left: 10px 0 0 0 0;
  }

  .booking-container form .form-row {
    display: block;
  }

  .submitbutton {
    width: 50px;
  }
}

/* Footer components */
footer {
  position: flow;
  bottom: 0;
  width: 100%;
  background: #54eabd;
  color: white;
}

.footer-content {
  display: flex;
}

.footer-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #54eabd;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: white;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
  color: white;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #54eabd;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.left .content .social a span:hover {
  background: #25d39f;
}

.center .content .fas {
  font-size: 1.4375rem;
  height: 45px;
  width: 45px;
  background: #54eabd;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #25d39f;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  padding-left: 10px;
  border: 1px solid #636363;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #bdbdbd;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.right form .btn button:hover {
  background: #929292;
}

@media screen and (max-width: 858px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .footer-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-content .box {
    margin: 5px 0;
  }
}
